section.about{
  padding-top: 4rem !important;
    .wrapper{
      display: flex;
      flex-direction: column;
        .left{
            padding: 15px 0px 0 0px;
            display: flex;
            flex-direction: column;
            width: 100%;
           h2{
            color: var(--color1);
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            margin-bottom: 1.6rem;
           }
           p{
            font-size: 16px;
            line-height: 2.2rem;
            letter-spacing: 0.1px;
            font-weight: 400;
            margin-bottom: 3rem;
            span{
              color:var(--pink);
              font-weight: 600;
            }
           }
           .button{
            background-color: var(--color4);
            color: var(--white);
            padding: 4px 8px;
            font-size: 12px;
            border: none;
            line-height: 24px;
            outline: none;
            cursor: pointer;
            align-self: center;
            transition: all 500ms ease-in-out;
            border: 1px solid var(--color3);
            margin-bottom: 3rem;
            &:hover{
              background-color: var(--dark);
              color: var(--red);
              border: 1px solid var(--red);
            }
           }
           
        }
        .right{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px 0 0px 10px;
            p{
              line-height: 1.5;
              font-size: 14px;
              letter-spacing: 0.1px;
              margin-bottom: 1rem;
              position: relative;
              .one{
                font-size: 14px !important;
                font-weight: bold;
              }
              .two{
                position: absolute;
                left: 90px;
              }
              &::before{
                content: "";
                top: 6px;
                left: -22px;
                height: 10px;
                width: 10px;
                border-top: 4px solid var(--pink);
                border-right: 4px solid var(--pink);
                position: absolute;
                transform: rotate(45deg);
              }
            }
          }
    }
    .pop-overlay {
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh !important;
        background-position: center;
        -webkit-font-smoothing: antialiased;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transform: scaleX(0);
        transition: opacity 1s;
        z-index: var(--zindex_top);
    }
    .openoverlay{
    transform: scaleX(1);
    opacity: 1;
    }
       
}
@mixin sm-about {
  section.about{
    .wrapper{
       .right{
        padding: 10px 0 0px 30px;
       }
    }
  }
}

@mixin md-about() {
    .content{
     .about{
       .wrapper{
    }
    }
  }
}
@mixin lg_about() {
    section.about{
       .wrapper{
         display: flex;
         flex-direction: row;
         padding: 0 !important;
        .left{
          flex: 0 0 55%;
           p{
            margin-bottom: 2rem;
          }
           .button{
             margin-bottom: 2rem !important;
           }
         }
        .right{
          flex: 0 0 45%;
          padding: 0px 0 0px 35px;
          p{              
            &::before{
              left: -20px;
            }
          }
        }
       }
    }
}

@mixin xl_about() {
  section.about{
    .wrapper{
     .left{
       flex: 0 0 45%;
        p{
         margin-bottom: 2rem;
       }
        .button{
          margin-bottom: 2rem !important;
        }
      }
     .right{
       flex: 0 0 55%;
       display: flex;
       flex-direction: row;
       padding: 35px 0 0px 65px;
       p{  
        line-height: 1.8;
       }
       .first{
         flex: 0 0 50%;
       }
       .second{
        padding-left: 20px;
         flex: 0 0 50%;
       }
     }
    }
 }
}

