
/*====== Header section Start =======*/
header{
    // Fixed work according to full body
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto ;
    transform: translateY(100%);
    transition: transform 650ms;
    z-index: var(--zindex_mid);
    nav{
        background-color: var(--pink1);
        margin: 0 auto ;
        min-height: 100px;
        padding: 15px 0;
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .nav__item{
                padding: 15px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width:33.33%;
                .nav__link{
                    cursor: pointer;
                    margin-bottom: 5x;
                    .nav__icon{
                        font-size: 18px;
                        color: var(--dark-gray);
                        transition: all 650ms;
                        margin-right: 5px;
                    }

                    span{
                       color: var(--white);
                       text-transform: capitalize;
                       font-size: 15px;
                    }
                }
            }
        }
    }
}
header.open{
    transform: translateY(0%);
}


/*====== Header section End =======*/