
.portfolio{
    .tabs{
        ul{            
            display: flex;
            text-align: center;
            justify-content: center;
            li{
                cursor: pointer;
                display: inline-block;
                padding: 8px ;
                font-size: 14px;
                font-weight: 600;
                line-height: 1;
                text-transform: uppercase;
                color: var(--white);
                background: var(--white);
                margin: 0 3px 10px 3px;
                transition: all 0.3s ease-in-out;
                border-radius: 4px;
/*                 &:hover{
                    background: var(--color5);
                    a{
                        color: white;
                    }
                } */
                a{
                    color: var(--black);
                    transition: all 650ms;
                }
            }
            li:last-child{
                margin-right: 0 !important;
            }
            li.active{
                background: var(--color5);
            }
            li.active a{
                color: var(--yellow);
            }
        }
    }
    .portfolio-item{
        display: flex;
        flex-wrap: wrap;
        .image{
            .item{
                width: 100%;
                height: 250px;
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 30px;
                padding: 10px;
                .portfolio-item-inner{
                    border: 5px solid var(--gray);
                    border-radius: 10px;
                    overflow: hidden;
                    cursor:pointer;
                    position: relative;
                    padding: 10px;
                    .portfolio-img{
                        width: 100%;
                        height: 250px;
                        background-image: url("./image/1.svg");
                        background-size: cover;
                        background-repeat: no-repeat;
                      img{
                        width: 100%;
                        height:235px;
                        display: block;
                      }
                    }
                    .portfolio-info{
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: rgba(0,0,0,0.8);
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                        padding: 30px;
                        opacity: 0;
                        h4{
                            font-size: 18px;
                            font-weight: 700;
                            text-transform: capitalize;
                            color: #ffffff;
                            -webkit-transform: translateX(-20px);
                            transform: translateX(-20px);
                            opacity: 0;
                        }
                        .icon{
                            position: absolute;
                            right: 30px;
                            bottom: 30px;
                            height: 40px;
                            width: 40px;
                            background-color: #ffffff;
                            text-align: center;
                            border-radius: 50%;
                            -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                            -webkit-transform: translateX(20px);
                            transform: translateX(20px);
                            opacity: 0;
                            .fa{
                                line-height: 40px;
                            color: #ec1839;
                            }
                          }
                    }
                    &:hover .portfolio-info{
                        opacity: 1;
                    }
                    &:hover .portfolio-info h4{
                        transform: translateX(0px);
                        opacity: 1;
                    }
                    &:hover .portfolio-info .icon{
                        transform: translateX(0px);
                        opacity: 1;
                    }
                 }
            }
        }
    }
}




  






@mixin sm-portfolio() {
}

@mixin md-portfolio() {
    .portfolio{
        .portfolio-item{
            flex-direction: row;
            .image{
                flex: 0 0 50%;
                max-width: 50%;
                .item{
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
    }

}

@mixin lg-portfolio() {
}
