
/* ======== Hamburger Start ========= */
.profile{
    position: relative;
    .toggle{
    position: absolute;
    padding: 1.2rem .5rem;
    top: 6%;
    right: 5%;
    z-index: var(--zindex_mid);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 650ms;
    background-color: var(--pink);
    border-radius: 3px;
    .line{
        height: 3px;
        width: 25px;
        border-radius: 20px;
        transition: .5s;
        position: relative;
        background-color: var(--white);

        &::before{
            content: ""; 
            width: 16px;
            height: 3px;
            left: 0;
            position: absolute;
            transform: translateY(-7px);
            background-color: var(--white);
            transition:all 650ms;
        }
        &::after{
            content: "";
            right: 0;
            height: 3px;
            width: 16px; 
            position: absolute;
            transform: translateY(7px);
            background-color: var(--white);
            transition:all 650ms;
        }
    }

    .line.active{
        transform: translateX(-30px);
        background-color: transparent;
        box-shadow: unset;
        &::before{
            transform: rotate(45deg) translate(22px, -22px);
        }
        &::after{
            transform: rotate(-45deg) translate(22px, 22px);
        }
    }
    }
}
@mixin lg_toggle {
    .profile{
        .toggle{
            top: 9%;
            right: 4%;
        }
    }
}

/* ======== Hamburger End ========= */